<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-color: #191616;
    }

    .Main {
        width: 30%;
        background-color: #FFFFFF;
        text-align: center;
        margin-left: 450px;
    }

    table {
        margin-left: 75px;
        margin-bottom: 20px;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Title {
        background-color: #3F43F8;
        font-size: 40px;
    }
</style>

<body>
    <div class="Main">
        <div class="Title">Log in</div>
        <form class="bang" action="Login_submit.php" method="POST">
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text=" name="username"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" name="submit">Login</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>